<nav>
  <img src="./assets/img/capy_sans_fond.png" alt="Logo du Capy" />
  <div>
    <h2><a href="./index.html">Accueil</a></h2>
    <h4><a href="./activites.html">Activités</a></h4>
    <h4><a href="./nos-jeux.html">Nos jeux</a></h4>
    <h4><a href="./notre-carte">Notre carte</a></h4>
    <h4><a href="./nous-contacter.html">Nous contacter</a></h4>
    <div id="burger" onclick="openCloseBurger()">
      <img src="./assets/img/burger.png" alt="Menu burger" />
    </div>
  </div>
</nav>
<ul id="nav-container">
  <li><a href="./index.html">Accueil</a></li>
  <li><a href="./activites.html">Activités</a></li>
  <li><a href="./nos-jeux.html">Nos jeux</a></li>
  <li><a href="./notre-carte">Notre carte</a></li>
  <li><a href="./nous-contacter.html">Nous contacter</a></li>
</ul>
