nav {
  display: flex;
  background-color: var(--primary-color);
}
nav > div {
  display: flex;
  align-items: center;
}
nav > img {
  margin: 0.5vw;
  width: 58px;
}
nav a {
  color: white;
  text-decoration: none;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
}

@media screen and (max-width: 600px) {
  nav > div {
    display: none;
  }
}
